body {
 background: #f9e933;
font-family: "Droid Sans";
 margin: 0;

}
header, main, footer {
 min-width: 855px;
}
header .container, main .container, footer .container {
 max-width: 855px;
 margin: auto;
}
header {
 background: white;
 overflow: auto;
 
}
header h1 {
 float: left;
 width: 570px;
}
header nav {
 float: right;
 width: 285px;
}

main {
 background: white; 
 min-height: 300px;
}
main  h2{
  margin: 0;
}
div.contact {
 float: left;
 width: 570px;
}

div.sitemap{
 float: right;
 width: 285px;
}

h1, h2, h3, h4, h5 {
font-family:Arial;

}

a {
color: red;
font-weight: bolder;
}